.blog-post {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: $margin-small;
  .img,
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .img {
    width: 33.33333333%;
    float: left;
    img {
      display: block;
    }
  }
  .content {
    width: 66.66666666%;
    float: left;
  }
  hr {
    margin-top: $margin-small;
    padding-top: 30px;
    display: block;
  }
}

.block {
  display: block;
}