main {
  height: 100%;
}

.blog-post {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: $margin-small;
  width: 100%;
  clear: both;
  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .img,
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .img {
    width: 33.33333333%;
    float: left;
    img {
      display: block;
    }
  }
  .content {
    width: 66.66666666%;
    float: left;
    date {
      display: block;
      padding-bottom: 20px;
    }
    .read-more {
      color: inherit;
      text-decoration: underline;
    }
  }
  .break {
    display: block;
    width: 100%;
    max-width: 1160px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    hr {
      display: block;
      margin-top: $margin-small;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .blog-post {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: $margin-small;
    width: 100%;
    clear: both;
    &:first-of-type {
      margin-top: 30px;
    }
    &:after {
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
    .img,
    .content {
      padding-left: 15px;
      padding-right: 15px;
    }
    .img {
      width: 100%;
      img {
        display: block;
        margin-bottom: 20px;
      }
    }
    .content {
      width: 100%;
      date {
        display: block;
        padding-bottom: 20px;
      }
      .read-more {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}