* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-post {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
  background: #F7F7F7;
}

.hero-post-inner {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  .hero-post-img,
  .hero-post-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-post-img {
    background-color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    &:after {
      content: "";
      width: 50px;
      height: 50px;
      display: block;
      transform: rotateZ(45deg);
      position: absolute;
      right: -25px;
      top: 80px;
      background: #F7F7F7;
    }
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      display: block;
      transform: rotateZ(45deg);
      position: absolute;
      right: -25px;
      top: 140px;
      background: #F7F7F7;
      z-index: 2;
    }
    img {
      max-width: none;
      max-height: none;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.hero-post-content {
  text-align: left;
  padding: 5rem;
  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px;
    max-width: 350px;
  }
  date {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 30px;
    max-width: 550px;
    a {
      color: inherit;
    }
  }
}

.cover-right-top {
  position: absolute;
  width: 35px;
  background: #F7F7F7;
  top: 0;
  right: 0;
  height: 105px;
  z-index: 2;
}

.cover-right-bottom {
  position: absolute;
  width: 35px;
  background: #F7F7F7;
  top: 165px;
  right: 0;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1000px) {
  .hero-post-inner {
    .hero-post-content {
      padding: 50px 20px;
    }
  }
}

@media (max-width: 760px) {
  .hero-post-inner {
    display: block;
    .hero-post-img,
    .hero-post-content {
      width: 100%;
      display: block;
    }
    .hero-post-img {
      max-height: 250px;
      img {
        position: relative;
        transform: translate(-50%, 0%);
      }
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
    .hero-post-content {
      padding: 20px;
      button {
        margin-bottom: 10px;
      }
    }
  }
  .cover-right-bottom,
  .cover-right-top {
    display: none;
  }
}
