* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-post {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
  background: #F7F7F7;
}

.hero-post-inner {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  .hero-post-img,
  .hero-post-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-post-img {
    background-color: white;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      width: 50px;
      height: 50px;
      display: block;
      transform: rotateZ(45deg);
      position: absolute;
      right: -25px;
      top: 80px;
      background: #F7F7F7;
    }
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      display: block;
      transform: rotateZ(45deg);
      position: absolute;
      right: -25px;
      top: 140px;
      background: #F7F7F7;
      z-index: 2;
    }
    /* Set img wrapper to 200% so img get centered*/
    .featured-img {
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      /* Set img size to 50% so it's 100% of hero-post-img container*/
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
      }
    }
  }
}

.hero-post-content {
  text-align: left;
  padding: 5rem;
  h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px;
  }
  date {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .hero-post {
    width: 100%;
    display: block;
  }
  .hero-post-inner {
    display: block;
    overflow: visible;
    .hero-post-img,
    .hero-post-content {
      width: 100%;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    .hero-post-content {
      padding: 20px;
      //      margin-left: 20px;
      //      margin-right: 20px;
      //      background: white;
      //      margin-top: -90px;
      button {
        margin-bottom: 10px;
      }
    }
    .hero-post-img {
      z-index: 0;
      position: relative;
      .featured-img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 300px;
        img {
          position: relative;
          min-width: 100%;
        }
      }
    }
  }
}

.cover-right-top {
  position: absolute;
  width: 35px;
  background: #F7F7F7;
  top: 0;
  right: 0;
  height: 105px;
  z-index: 2;
}

.cover-right-bottom {
  position: absolute;
  width: 35px;
  background: #F7F7F7;
  top: 165px;
  right: 0;
  height: 485px;
  z-index: 2;
}