#post {
  background: white;
  display: block;
}

#disqus-section {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 20px;
}

.post-content {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 750px;
  margin-bottom: $margin-small;
  padding: 0 20px;
  .button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background-color: #00D7FE;
    border-color: #208597;
    color: white;
    width: auto;
    &:hover {
      background-color: #11B8D8;
      border-color: #208597;
    }
  }
  blockquote {
    padding: 0 1.25rem 0 1.25rem;
    border-left: 1px solid #DDDDDD;
    margin: 40px 0 40px 0;
    line-height: 1.6;
    p {
      font-size: 18px;
      font-weight: 300;
      color: #586a8f;
    }
  }
  ul {
    width: 85%;
    list-style: decimal-leading-zero;
    margin: 0 auto;
    color: #1f2532;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      margin: 0 0 1.25em;
      padding: 0rem 1.45em 0 1.45em;
    }
  }
  p {
    a {
      color: inherit;
      border-bottom: 3px solid $color-light-green;
      &:hover {
        border-bottom: 3px solid $color-light-green/1.2;
      }
    }
    i {
      display: block;
      max-width: 550px;
      margin: 0 auto;
      text-align: center !important;
      padding-top: 60px;
      padding-bottom: 60px;
      @media (max-width: 760px) {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
    b,
    strong {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .wp-caption img {
    max-width: 720px;
  }
  .img {
    margin-top: 27px;
  }
  .social-media {
    margin: 40px 0 40px 0;
    width: 100%;
    width: auto;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    font-size: 0;
    .social-media--icons,
    p {
      display: inline-block;
      padding-right: 12px;
      background: white;
      color: #838383;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0;
    }
    img {
      width: 30px;
      margin-right: 5px;
    }
    hr {
      z-index: -1;
      position: absolute;
      top: 14px;
      width: 100%;
    }
  }
}

.title {
  position: relative;
  background: #F7F7F7;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 23px;
  h2,
  date {
    max-width: 715px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.next-article {
  background: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  .next-article-inner {
    display: block;
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
    .left-align,
    .right-align {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
    .left-align {
      padding-right: 10px;
    }
    .right-align {
      padding-left: 10px;
      a {
        text-align: right;
        width: 100%;
        display: block;
      }
    }
    a {
      color: inherit;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      &:hover {
        color: $color-light-green;
      }
    }
  }
}
