#post {
  background: white;
  display: block;
}

.post-content {
  margin: 0 auto;
  max-width: 750px;
  margin-bottom: $margin-small;
  padding: 0 20px;
  p {
    a {
      color: inherit;
      border-bottom: 3px solid $color-light-green;
      &:hover {
        border-bottom: 3px solid $color-light-green/1.2;
      }
    }
    i {
      display: block;
      max-width: 550px;
      margin: 0 auto;
      text-align: center !important;
      padding-top: 60px;
      padding-bottom: 60px;
      @media (max-width: 760px) {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
  }
  .wp-caption img {
    max-width: 720px;
  }
  .img {
    margin-top: 27px;
  }
  .social-media {
    margin: 40px 0 40px 0;
    width: 100%;
    width: auto;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    font-size: 0;
    .social-media--icons,
    p {
      display: inline-block;
      padding-right: 12px;
      background: white;
      color: #838383;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0;
    }
    img {
      width: 30px;
      margin-right: 5px;
    }
    hr {
      z-index: -1;
      position: absolute;
      top: 14px;
      width: 100%;
    }
  }
}

.title {
  position: relative;
  background: #F7F7F7;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 23px;
  h2,
  date {
    max-width: 715px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.next-article {
  background: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  .next-article-inner {
    display: block;
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: right;
    a {
      color: inherit;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      &:hover {
        color: $color-light-green;
      }
    }
  }
}